SUBSYSTEM=="tty", ATTRS{idVendor}=="03eb", ATTRS{idProduct}=="204b", ATTRS{serial}=="75438343737351317081", SYMLINK="roof", MODE="0666", TAG+="systemd"
